.anime-description-container{
   display: grid;
   grid-template-columns: 150px 1fr;
   grid-template-areas: 
      "anime-image-container anime-details-container"
      "anime-image-container anime-details-container";
}

.anime-image-container {
   grid-area: anime-image-container;
}

.anime-details-container{
   font-size: 14px;
   padding: 0 0.5rem;
}

.anime-synopsis-container{
   grid-area: anime-synopsis-container;
   font-size: 13px;
   line-height: 1.4;
   text-indent: 1rem;
}



.anime-description-container img{
   width: 100%;
}